.count {
  display: flex;
  justify-content: space-between;
  font-family: Bungee, cursive, sans-serif;
  /* border-top: solid black; */
  padding-top: 20px;
}

.button {
  background-color: navy;
  color: #FFFFFF;
}

#tweet-text {
  display: flex;
  justify-content: center;
  border: none;
  border-bottom: solid black;
  outline: none;
  width: 90vw;
  bottom: 0;
  font-size: 15px;
  font-weight: 600;
  background-color: inherit;
}